{% extends 'base.html' %}
{% load static %}
{% block script %}
<script>

</script>

{% endblock script %}
{% block content %}
{% if debugmessage %}
<fieldset>
    <legend>Debugmessage</legend>
    <pre>
    {{debugmessage}}
    </pre>
</fieldset>
{% endif %}
    <div class="content">
        <div class="page">
            {% if faq_list %}
            {% for faq in faq_list %}
            <h1>{{ faq.question |safe }}</h1>
            <p>{{ faq.answer |safe }}</p>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}