{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block script %}
<script>

</script>

{% endblock script %}
{% block content %}
{% if debugmessage %}
<fieldset>
    <legend>Debugmessage</legend>
    <pre>
    {{debugmessage}}
    </pre>
</fieldset>
{% endif %}
    <div class="content">
        <div class="page">
            <h1>{{seite}}</h1>
            {% if success %}
            <p>Dein Account wurde verifiziert.</p>
            <p><a href="{% url 'cp:login' %}">Hier gehts zum Login.</a></p>
            {% else %}
            <p>Ein Fehler ist aufgetreten.</p>
            <p>Entweder ist der Link abgelaufen oder der Account wurde bereits aktiviert.</p>
            <p><a href="{% url 'cp:login' %}">Hier gehts zum Login.</a></p>
            {% endif %}
        </div>
    </div>
{% endblock content %}