@font-face{
  font-family:pricedown;
  src:url(../static/fonts/pricedown.ttf);
  font-display: swap;
}
@font-face{
  font-family:SignpainterBold;
  src:url(../static/fonts/signpainter-bold.woff) format("woff") ,url(../static/fonts/signpainter.ttf) format("truetype");
  font-display: swap;
}
@font-face{
  font-family:Signpainter;
  src:url(../static/fonts/signpainter.woff) format("woff"),url(../static/fonts/signpainter.ttf) format("truetype");
  font-display: swap;
}

html {
  min-height: 100%;
}

.rect-top {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 3px;
  background-color: black;
  z-index: -10;
}

.triangle-down2 {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 100px solid black;
  position: relative;
  left: 0;
  top: 3px;
  z-index: -1;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 100px solid #6e00c2;
  position: relative;
  left: -50vw;
  top: -103px;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 100px solid #6e00c2;
  position: relative;
  left: -50vw;
  bottom: -3px;
}

.triangle-up2 {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 100px solid black;
  position: relative;
  left: 0;
  bottom: 100px;
  z-index: -1;
}

.rect-bot {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100vw;
  height: 3px;
  background-color: black;
  z-index: -10;
}

body {
  background-color: #2e2e2e;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #A0A0A0;
  min-width: 300px;
  min-height: 100%;
  overflow: auto;
}

.footer {
  position: absolute; 
  bottom: 0px; 
  width: 400px;
  left: calc(50vw - 200px); 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #101010;
  font-size: 18px;
}

.footer a {
  font-family: Arial, Helvetica, sans-serif;
  color: #101010;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

.footer p {
  margin-top: 3px;
  margin-bottom: 3px;
}

#input {
  background-color: #1c1c1c;
}

.logo-foot {
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 25px;
  left: calc(50vw - 75px);
  z-index: 10;
}

.content {
  border: 0px solid #1c1c1c;
  height: calc(100vh - 180px - 110px);
  width: 100vw;
  /*left: 1vw;*/
  top: 180px;
  position: absolute;
  /*border-radius: 30px;*/
  vertical-align: middle;
  text-align: center;
  min-width: 300px;
  animation: title 1s;
  min-height: 400px;
  overflow: auto;
}

.content .title {
  margin-top: 18px;
  right: 15%;
  font-weight: bold;
  font-family: "pricedown", Helvetica, sans-serif;
  text-align: right;
  position: relative;
  color: #af7399;
}

.menu {
  right: 60vw;
  /*border: 3px solid #6e00c2;*/
  border-radius: 10px;
  font-family: "pricedown", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2.5vw;
  position: absolute;
  padding: 5px;
  vertical-align: middle;
  height: 3vw;
  text-align: right;
}

.menu2 {
  left: 60vw;
  font-family: "pricedown", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 3vw;
  position: absolute;
  padding: 5px;
  padding-bottom: 10px;
  vertical-align: middle;
  height: 3vw;
  text-align: right;
  color: #6e00c2;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  animation: title 0.8s;
}

.menu a {
  text-decoration: none;
  color: #A0A0A0;
  margin-left: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.menu a:hover{
  text-decoration: none;
  font-weight: bold;
  color: #b233b2;
  text-shadow: 0px 0px 6px black;
}

.page h1,legend {
  font-family: "Signpainter", Helvetica, sans-serif;
  color: #b233b2;
  text-shadow: 0px 0px 6px black;
  letter-spacing: 4px;
}

.page {
  margin-right: 10%;
  margin-left: 10%;
  text-align: right;
}
.btn {
  margin-top: 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40vw;
  padding: 8px 0px;
}
.btn-primary {
  color: #A0A0A0;
  background-color: #6e00c2;
}
.btn-primary:hover {
  color: #1c1c1c;
  background-color: #b233b2;
}
.btn:focus {
  outline: none;
  border: none;
}
fieldset.inline {
  border: none;
  text-align: center;
}
fieldset.inline legend {
  text-align: right;
}
.form-group {
  font-size: 16px;
}
.page_form {
  width: 80vw;
}
.label {
  text-align: right;
  width: 40vw;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 3px;
}
.label.requiredField {
  font-weight: bold;
}
.asteriskField {
  display: none;
}
.form-control {
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;
  width: 40vw;
  padding: 8px 5px;
  display: inline-block;
}
.form-control:valid {
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 5px #6e00c2;
}
.form-control:invalid {
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 5px #e233b2;
}
.form-control:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 5px #b233b2;
}
.page_helper {
  color: #A0A0A0;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  text-align: center;
}
.page_helper a {
  color: #A0A0A0;
  text-decoration: none;
}
.social {
  position: fixed;
  bottom: 10px;
  right: 70px;
  width: 25px;
  z-index: 20;
}

.social .icon img {
  height: 25px;
  width: 25px;
}
  /* width */
::-webkit-scrollbar {
  width: 5px;
  height: 95%;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border-radius: 10px;
}

@media (orientation: landscape) {
  .content {
    font-size: 1vw;
  }
  .content .title {
    font-size: 4vw;
  }
  .page h1,legend {
    font-size: 4vw;
  }
}

@media (orientation: portrait) {
  .content {
    font-size: 1vh;
  }
  .content .title {
    font-size: 4vh;
  }
  .page h1,legend {
    font-size: 4vh;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  .logo-head {
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
    left: calc(50vw - 40px);
    z-index: 10;
    animation: heartbeat_big 4s infinite;
  }
  .content {
    top: 100px;
    height: calc(100vh - 140px - 80px);
  }
  .triangle-down2 {
    border-top: 50px solid black;
    z-index: -1;
  }
  .triangle-down {
    border-top: 50px solid #6e00c2;
    top: -53px;
  }
  .triangle-up2 {
    border-bottom: 50px solid black;
    z-index: -1;
    bottom: 50px;
  }
  .triangle-up {
    border-bottom: 50px solid #6e00c2;
    bottom: -3px;
  }
  .menu {
    top: 50px;
  }
  .menu2 {
    top: 50px;
  }
  .footer a {
    font-size: 8px;
  }
  .footer {
    font-size: 8px;
  }
  .social .icon {
    margin: 12px;
  }
  .social .icon img {
    height: 25px;
    width: 25px;
  }
  .social {
    right: 30px;
  }
}

@media (max-height: 450px) and (orientation: landscape) {
  .logo-head {
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
    left: calc(50vw - 40px);
    z-index: 10;
    animation: heartbeat_big 4s infinite;
  }
  .content {
    top: 100px;
    /*height: calc(100vh - 140px - 80px);*/
    height: calc(100vh - 160px);
    min-height: calc(100vh - 160px);
  }
  .triangle-down2 {
    border-top: 50px solid black;
    z-index: -1;
  }
  .triangle-down {
    border-top: 50px solid #6e00c2;
    top: -53px;
  }
  .triangle-up2 {
    border-bottom: 50px solid black;
    z-index: -1;
    bottom: 50px;
  }
  .triangle-up {
    border-bottom: 50px solid #6e00c2;
    bottom: -3px;
  }
  .menu {
    top: 50px;
  }
  .menu2 {
    top: 50px;
  }
  .footer a {
    font-size: 8px;
  }
  .footer {
    font-size: 8px;
    position: absolute; 
    bottom: -50px; 
  }
  .social .icon {
    margin: 12px;
  }
  .social .icon img {
    height: 25px;
    width: 25px;
  }
  .social {
    right: 30px;
  }
  .rect-bot {
    position: absolute;
    bottom: -50px;
  }
}

@media (min-width: 450px) and (min-height: 450px) {
  .logo-head {
    width: 150px;
    height: 150px;
    position: relative;
    top: 25px;
    left: calc(50vw - 75px);
    z-index: 10;
    animation: heartbeat_big 4s infinite;
  }
  .content {
    top: 180px;
  }
  .menu {
    top: 100px;
  }
  .menu2 {
    top: 100px;
  }
  .social .icon {
    margin: 25px;
  }
  
  .social .icon img {
    height: 50px;
    width: 50px;
  }
}

@keyframes heartbeat_big {
  0% {transform: scale(1);}
  48% {transform: scale(1);}
  50% {transform: scale(.98);}
  55% {transform: scale(1);}
  78% {transform: scale(1);}
  80% {transform: scale(1.04);}
  83% {transform: scale(1);}
  88% {transform: scale(1.02);}
  90% {transform: scale(1);}
  100% {transform: scale(1);}
}

@keyframes title {
  from {opacity: 0%;}
  to {opacity: 100%;}
}